<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Home page</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p><h3>how can we be of service to you? </h3>
        
    </p>
    <p>click the link below to take you to our about page<br>
    <a href="/views/about.hbs">About</a>
    </p>
    <footer>
        <p>
            Copyright {{currentYear}}
        </p>
    </footer>
</body>
</html>